@font-face {
    font-family: 'TT Norms Pro';
    src: local('TT Norms Pro'), url(/font/TTNormsPro-Bold.woff2);
    src: local('TT Norms Pro'), url(/font/TTNormsPro-Regular.woff2);
    src: local('TT Norms Pro'), url(/font/TTNormsPro-Medium.woff2);
}

body {
    background-color: #FAF6F2;
}

input + label {
    cursor: pointer;
}

button {
    border: none;
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 0 60px;
    margin: 0 auto;
    max-width: 1500px;
}

input {
    border: none;
}

ul {
    list-style: none;
}

.main {
    background-color: #A98C64;
}


.main__zakaz {
    display: flex;
    justify-content: center;
    gap: 180px;
    height: 60px;
    padding: 14px 0;
    align-items: center;
}

.zakaz {
    display: flex;
    gap: 20px;
    align-items: center;
}

.percent__text {
    color: #fff;
    font-family: 'TT Norms Pro';
    font-weight: bold;
    font-size: 24px;
}

.trade {
    display: flex;
    gap: 10px;
    color: #fff;
    font-family: 'TT Norms Pro';
    font-weight: bold;
    font-size: 24px;
    align-items: center;
}

.zakaz__right-img {
    width: 15px;
    height: 15px;
}

/* nav */

.nav {
    padding: 36px 0 0  10px;
}

.nav__container {
    max-width: 1400px;
    margin: 0 auto;
} 

.nav__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__item {
    display: flex;
    gap: 30px;
}

.menu__list {
    color: #493E3E;
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
}

.menu__list:hover {
    color: #DFCCB7;
    transition: 0.3s;
}

.nav__phone {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.phone {
    text-align: end;
    color: #4D8F76;
}

.phone__tel {
    font-family: 'TT Norms Pro';
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    color: #493E3E;
}

.nav__chart {
    text-align: end;
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 12px;
    color: #756D6D;
}

/* header */

.header__wrap {
    display: flex;
    align-items: center;
}

.header__title {
    font-family: 'TT Norms Pro';
    font-weight: bold;
    font-size: 60px;
    width: 740px;
}

.header__silk {
    padding-top: 90px;
    display: flex;
    gap: 20px;
}

.header__podbor {
    text-decoration: none;
    font-family: 'TT Norms Pro';
    font-weight: bold;
    font-size: 16px;
    border: 1px solid #4D8F76;
    color: #4D8F76;
    padding: 9px 26px;
    border-radius: 25px;
}

.header__podbor:hover {
    background-color: #4D8F76;
    color: #fff;
    transition: 0.8s;
}

.header__consul {
    text-decoration: none;
    font-family: 'TT Norms Pro';
    font-weight: bold;
    font-size: 16px;
    border: 1px solid #4D8F76;
    color: #4D8F76;
    padding: 9px 26px;
    border-radius: 25px;
}

.header__consul:hover {
    background-color: #4D8F76;
    color: #fff;
    transition: 0.8s;
}

.header__img {
    position: relative;
  }
  
  .food__grean, .food_yellow {
    position: absolute;
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
  }
  
  .food__grean {
    background-color: #6D9988; 
    right: 0;
    top: 100px;
    z-index: -1;
    width: 117px;
    height: 117px;
  }
  
  .food_yellow {
    background-color: #E2DDC0;
    left: -24px;
    bottom: 70px;
    z-index: -1;
    width: 270px;
    height: 270px;
  }
  
  .header__food-img {
    display: block;
    max-width: 100%;
    position: relative;
    z-index: 1;
    width: 700px;
    height: 700px;
  }

.header__food-description {
    display: flex;
    gap: 100px;
    padding-top: 130px;
}

.food-description-img {
    padding-left: 80px;
}

.food-description-title {
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 48px;
}

.food-description-subtitle1 {
    padding-top: 50px;
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 20px;
    width: 756px;
}

.food-description-subtitle2 {
    padding-top: 50px;
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 20px;
    width: 756px;
    padding-top: 30px;
}

.header__menu-description {
    display: flex;
    gap: 117px;
    padding-top: 70px;
}

.menu-description-title {
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 48px;
}

.menu-description-subtitle1 {
    padding-top: 50px;
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 20px;
    width: 756px;
}

.menu-description-subtitle2 {
    padding-top: 50px;
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 20px;
    width: 756px;
    padding-top: 30px;
}

/* section */

.section {
    margin-top: 100px;
}

.section__racion{
    background: #E2DDC0;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.racion__title {
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 40px;
    padding: 30px 0 0 30px;
 }

 .racion__diet{
    padding: 30px 0 30px 30px;
    display: flex;
    gap: 30px;
    align-items: center;
 }

 .racion__pol {
    text-align: center;
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 12px;
    color: #756D6D;
    padding-bottom: 8px;
 }

 .racion__diet input {
    border-radius: 25px;
    padding-left: 8px;
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 16px;
}

.pol_fon {
    background-color: white;
    padding: 10px 4px 10px 4px;
    border-radius: 25px;
}
.pol input {
    display: none;
}
.pol_fon label {
    padding: 10px;
    border-radius: 50%;
}
.pol_fon input:checked + label {
    background-color: #DFCCB7;
}

.pol__dan {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 20px;
}

.racion__height, .racion__weight {
    width: 100px;
    height: 48px;
}

.racion__age {
    width: 124px;
    height: 48px;
}

.racion__activ {
    width: 180px;
    height: 48px;
}

.racion__goal {
    width: 200px;
    height: 48px;
}

.racion-btn {
    text-decoration: none;
    background-color: #4D8F76;
    color: #fff;
    padding: 10px 30px;
    border-radius: 40px;
    font-family: 'TT Norms Pro';
    font-weight: Bold;
    font-size: 16px;
}

/* section__calorie */

.section__calorie {
    margin-top: 100px;
}

.calorie__title {
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 48px;
}

.calorie__subtitle {
    padding-top: 30px;
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 20px;
    color: #493E3E;
    padding-bottom: 20px;
}

.calorie__card {
    display: flex;
    gap: 30px;
}
.calorie__card input {
    display: none;
}

.card  {
    border: 1px solid #DFCCB7;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding: 20px 40px;
    text-align: center;
    width: 250px;
}

.calorie__card input:checked + label {
    background-color: #DFCCB7;
}

.calorie {
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 24px;
}

.calorie__blud {
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 16px;
    color: #493E3E;
}

.calorie__puck {
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 24px;
}

/* choosing */

.choosing {
    display: flex;
    padding-top: 40px;
    width: 400px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.choosing__text {
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 14px;
}

.choosing__input input {
    display: none;
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 16px;
}

.choosing__input input:checked + label {
    background-color: #DFCCB7;
    border-radius: 50%;
}

.choosing__input label {
    padding: 9px 14px;
}

.choosing__input {
    display: flex;
    border: 1px solid #DFCCB7;
    border-radius: 25px;
    padding: 4px 14px;
    align-items: center;
}

/* days */

.days {
    margin-top: 30px;
}

.days__subtitle {
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 20px;
}

.days__text {
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 16px;
    color: #A98C64;
    padding-top: 20px;
}

.daily__ration {
    padding-top: 20px;
    display: flex;
    gap: 30px;
}

.daily__ration  input{
    display: none;
}

 .daily__ration input:checked + label {
    background-color: #DFCCB7;
}

.daily__ration-text {
    padding: 8px 23px;
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 24px;
    border: 1px solid #DFCCB7;
    border-radius: 40px;
}

.daily__food {
    display: flex;
    gap: 70px;
    margin-top: 30px;
}

.food__breakfast {
    display: flex;
    flex-direction: column;
}

.img__breakfast {
    width: 265px;
    height: 259px;
}

.breakfast__price {
    display: flex;
    gap: 15px;
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 12px;
    color: #A98C64;
}

.breakfast__text {
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 16px;
    padding-top: 10px;
}

.food__lunch {
    display: flex;
    flex-direction: column;
    width: 265px;
    height: 265px;
}

.img__lunch {
    width: 265px;
    height: 259px;
}

.lunch__price {
    display: flex;
    gap: 15px;
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 12px;
    color: #A98C64;
}

.lunch__text {
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 16px;
    padding-top: 10px;
}

.food__afternoon {
    display: flex;
    flex-direction: column;
    width: 265px;
    height: 265px;
}

.img__afternoon {
    width: 265px;
    height: 259px;
}

.afternoon__price {
    display: flex;
    gap: 15px;
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 12px;
    color: #A98C64;
}

.afternoon__text {
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 16px;
    padding-top: 10px;
}

.food__dinner {
    display: flex;
    flex-direction: column;
    width: 265px;
    height: 265px;
}

.img__dinner {
    width: 265px;
    height: 259px;
}

.dinner__price {
    display: flex;
    gap: 15px;
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 12px;
    color: #A98C64;
}

.dinner__text {
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 16px;
    padding-top: 10px;
}

/* order */

.order {
    background-color: #A2BE95;
    display: flex;
    gap: 40px;
    margin-top: 50px;
    border-radius: 0 0 30px 30px;
    height: 140px;
}

.order__left {
    padding: 30px 30px;
}

.order__btn-calorie {
    padding: 10px 32px;
    border-radius: 40px;
    background-color: #4D8F76;
    font-family: 'TT Norms Pro';
    font-weight: bold;
    font-size: 16px;
    color: #fff;
}

.oreder__callorie-text {
    text-align: center;
    padding-top: 10px;
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}

.order__right {
    display: flex;
    gap: 45px;
    padding-top: 38px;
}

.order__img {
    width: 71px;
    height: 65px;
}

.order__subtitle {
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 24px;
    color: #fff;
}

.order__text {
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    padding-top: 8px;
    line-height: 20px;
}

/* section__about */

.section__about {
    margin-top: 70px;
}

.about__title {
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 42px;
}

.about__serves {
    padding-top: 50px;
}

.service__subtitle {
    font-family: 'TT Norms Pro';
    font-weight: bold;
    font-size: 24px;
    padding-top: 32px;
}

.service__text{
    font-family: 'TT Norms Pro';
    font-weight: bold;
    font-size: 16px;
    padding-top: 20px;
    color: #493E3E;
}

.service__top {
    display: flex;
    gap: 42px;
}

.service {
    width: 436px;
}

.service__bottom {
    display: flex;
    gap: 42px;
    padding-top: 50px;
}

/* nuw__about */


.nuw__about {
    padding-top: 84px;
    display: flex;
    gap: 50px;
}

.nuw__about-left{
    padding-top: 50px;
}

.nuw__about-subtitle {
    font-family: 'TT Norms Pro';
    font-weight: bold;
    font-size: 24px;
    color: #4D8F76;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
}

.about__text p {
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 16px;
    color: #493E3E;
}

.nuw__about-right {
    display: flex;
    gap: 60px;
    align-items: center;
}

.left__img {
    width: 60px;
    height: 60px;
}

.service__img {
    border-radius: 20px;
}

.right__img{
    width: 60px;
    height: 60px;
}

/* section__delivery */

.section__delivery {
    background-color: #F4EDDE;
    margin-top: 50px;
    border-radius: 30px;
}

.delivery__title {
    padding-top: 30px;
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 48px;
}

.delivery__subtitle {
    padding-top: 30px;
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 24px;
    color: #493E3E;
}

.deliveri__infa {
    display: flex;
    gap: 32px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.deliveri__price {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.price__city {
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 20px;
    padding: 17px 56px;
    border: 2px solid #1EB949;
    border-radius: 30px;
    color: #493E3E;
    text-decoration: none;
}

.price__suburb1 {
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 20px;
    padding: 17px 45px;
    border: 2px solid #34A2FE;
    border-radius: 30px;
    color: #493E3E;
    text-decoration: none;
}

.price__suburb2 {
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 20px;
    padding: 17px 45px;
    border: 2px solid #FFBC4F;
    border-radius: 30px;
    color: #493E3E;
    text-decoration: none;
}

.price__suburb3 {
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 20px;
    padding: 17px 45px;
    border: 2px solid #FC5239;
    border-radius: 30px;
    color: #493E3E;
    text-decoration: none;
}

.price__text {
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 16px;
    color: #493E3E;
    padding-top: 20px;
}

.price__phone {
    font-family: 'TT Norms Pro';
    font-weight: bold;
    font-size: 24px;
    color: #493E3E;
    text-decoration: none;

}

.price__phone span {
    font-family: 'TT Norms Pro';
    font-weight: bold;
    font-size: 12px;
    color: #493E3E;
    line-height: 0;
}

.price__btm {
    font-family: 'TT Norms Pro';
    font-weight: bold;
    font-size: 16px;
    padding: 10px 90px;
    background-color: #4D8F76;
    border-radius: 25px;
    color: #fff;
    text-decoration: none;
}

/* section__questions */

.section__questions {
    margin-top: 70px;
}

.questions__title {
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 48px;
}

.question__frequent{
    padding-top: 33px;
    display: flex;
    gap: 30px;
}

.question__frequent input {
    display: none;
}

.question__frequent input:checked + label {
    background-color: #DFCCB7;
}

.frequent__products {
    padding: 8px 26px;
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 24px;
    border: 1px solid #DFCCB7;
    border-radius: 40px;
}

.questions__buttom {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-top: 60px;
}

.questions__buttom  button{
    background-color: #FAF6F2;
}

.questions__buttom button .del, img {
    display: block;

}

.questions__delivery{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

.delivery__buttom-title {
    font-family: 'TT Norms Pro';
    font-weight: bold;
    font-size: 24px;
    text-align: start;
}

.delivery__buttom-text {
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 15px;
    color: #493E3E;
    padding-top: 20px;
    text-align: start;
    display: none;
}

.questions__time-delivery {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.questions__deys-delivery {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questions__suspend-delivery {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questions__delivery:hover .del .delivery__buttom-text {
    display: block;
}

.questions__delivery:hover img {
    transform: rotate(180deg);
    transition: 0.5s;
}


.questions__delivery img {
    transition: 0.5s;
}

.questions__time-delivery:hover .del .delivery__buttom-text {
    display: block;
}

.questions__time-delivery:hover img {
    transform: rotate(180deg);
    transition: 0.5s;
}

.questions__time-delivery img {
    transition: 0.5s;
}

.questions__deys-delivery:hover .del .delivery__buttom-text {
    display: block;
}

.questions__deys-delivery:hover img {
    transform: rotate(180deg);
    transition: 0.5s;
}

.questions__deys-delivery img {
    transition: 0.5s;
}

.questions__suspend-delivery:hover .del .delivery__buttom-text {
    display: block;
}

.questions__suspend-delivery:hover img {
    transform: rotate(180deg);
    transition: 0.5s;
}

.questions__suspend-delivery img {
    transition: 0.5s;
}



/* section__nutritionist */

.section__nutritionist {
    background-color: #A2BE95;
    margin-top: 100px;
    position: relative;
    height: 416px;
}

.nutritionist {
    display: flex;
}

.nutritionist__title {
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 48px;
    color: #FAF6F2;
    padding-top: 30px;
}

.nutritionist__veronika {
    position: absolute;
    bottom: 0;
    right: 400px;
    display: flex;
}

.form__nutritionist {
    padding-top: 50px;
}

.nutritionist__form {
    display: flex;
    gap: 30px;
}

.nutritionist__form input {
    width: 320px;
    height: 48px;
    padding-left: 20px;
    border-radius: 40px;
}

.nutritionist__name {
    border: none;
}

.nutritionist__veronika-btn{
    padding-top: 40px;
}

.nutritionist__btn {
    text-decoration: none;
    color: #FAF6F2;
    padding: 10px 90px;
    border-radius: 40px;
    background-color: #4D8F76;
}

.nutritionist__veronika {
    align-items: end;
    display: flex;
    gap: 40px;
}

.veronika__socset {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 40px;
}

.veronika__socset img {
    border-radius: 50%;
    padding: 14px;
    border: 2px solid #fff;
}

.veronika {
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 18px;
    color: #FAF6F2;
}


/* section__try */

.section__try {
    margin-top: 90px;
}

.try__racion {
    display: flex;
    flex-direction: column;
}

.try__title {
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 48px;
}

.try__text {
    color: #493E3E;
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 16px;
    padding-top: 51px;
}

.try-a {
    margin-top: 40px;
}

.tryt {
    font-family: 'TT Norms Pro';
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: #FAF6F2;
    padding: 10px 33px;
    border-radius: 40px;
    background-color: #4D8F76;

}

/* section__subscribe */

.section__subscribe {
    margin-top: 150px;
    background-color: #B89683;
    height: 162px;
    border-radius: 30px;
}

.subscribe {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.subscribe__title {
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 48px;
    color: #fff;
}

.subscribe__img-text{
    display: flex;
    gap: 15px;
    align-items: center;
    padding-top: 20px;
}

.subscribe__text {
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}

.subscribe__right {
    display: flex;
    gap: 20px;
    align-items: center;
}

.subscribe__email {
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 16px;
    color: #756D6D;
    width: 365px;
    height: 46px;
    padding-left: 22px;
    border-radius: 40px;
}

.subscrible {
    font-family: 'TT Norms Pro';
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: #FAF6F2;
    padding: 10px 33px;
    border-radius: 40px;
    background-color: #4D8F76;
}

/* footer */

.footer {
    margin-top: 100px;
}

.footer__numder{
    display: flex;
    gap: 108px;
}

.footer__phone {
    font-family: 'TT Norms Pro';
    font-weight: bold;
    font-size: 24px;
    color: #493E3E;
    text-decoration: none;
}

.footer__chart {
    font-family: 'TT Norms Pro';
    font-weight: 500;
    font-size: 12px;
    color: #493E3E;
}

.footer__mail {
    font-family: 'TT Norms Pro';
    font-weight: bold;
    font-size: 24px;
    color: #493E3E;
}

.footer__text {
    padding-top: 30px;
}

.text1 {
    font-family: 'TT Norms Pro';
    font-weight: bold;
    font-size: 16px;
    color: #493E3E;
    padding-top: 30px;
}

.text2 {
    font-family: 'TT Norms Pro';
    font-weight: bold;
    font-size: 16px;
    color: #493E3E;
    padding-top: 30px;
}

.text3 {
    font-family: 'TT Norms Pro';
    font-weight: bold;
    font-size: 16px;
    color: #493E3E;
    padding-top: 30px;
}

.text3 span {
    color: #1EB949;
}